body {
    background-image: url(../img/bgl.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.container {
    background-color: rgba(255, 255, 255, 0.6);
}
.table-responsive {
    background-color: rgba(255, 255, 255, 0.75) !important;
}
nav {
    --bs-bg-opacity: .85 !important;
}
footer {
    background-color: rgba(255, 255, 255, 0.9);
}
.imgCity {
    width: 100px;
}